@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
    --monuFont: "Monument Extended";
    --popFont: "Poppins";
    --nunitoSans: "Nunito Sans";
    --maincolor: #ff4566;
    --dark-color: #222;
    --lightText-color: #ccc;
    --darkGrey-color: #777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Montserrat", sans-serif;
}

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #f1f1f1;
}

.sContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    /* z-index: -1; */
}

.s1 {
    position: absolute;
    top: 0;
    left: 25%;
    background: rgba(0, 0, 0, 0.3);
    width: 1px;
    height: 100vh;
}

.s2 {
    position: absolute;
    top: 0;
    left: 50%;
    background: rgba(0, 0, 0, 0.3);
    width: 1px;
    height: 100vh;
}

.s3 {
    position: absolute;
    top: 0;
    left: 75%;
    background: rgba(0, 0, 0, 0.3);
    width: 1px;
    height: 100vh;
}

.webContainer {
    position: relative;
    z-index: 1000;
}

.webContainer nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /* background: #222; */
    display: flex;
}

nav .logo {
    width: 40%;
}

nav .menu {
    width: 50%;
}

.menu ul {
    list-style: none;
}

ul li {
    list-style-type: none;
}

.menu_link {
    text-decoration: none;
    color: var(--dark-color);
    margin: 0 2px;
    border-bottom: 1px solid black;
    line-height: 65px;
}

.button {
    line-height: 65px;
}

.logo p {
    font-size: 24px;
    color: #222;
    font-weight: bold;
    line-height: 65px;
    margin-left: 40px;
    text-transform: uppercase;
}

.app_wrap {
    position: fixed;
    top: 35%;
    left: 8%;
}

.app_wrap h2 {
    font-size: 4.2rem;
    color: #0f1923;
}

.app_wrap h2 span {
    color: var(--maincolor);
}

.SText {
    font-size: 18px;
    color: var(--dark-color);
    font-weight: 500;
    margin-top: 20px;
}

.SText span {
    color: #ff4566;
}

.app_btn {
    margin-top: 50px;
    display: flex;
}

.app_btn .primaryBtn {
    padding: 15px 56px;
    margin-right: 40px;
    background: #ff4566;
    outline: none;
    border: none;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.app_btn .accBtn {
    padding: 15px 30px;
    margin-right: 40px;
    background: #0f1923;
    outline: none;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

#img1 {
    position: fixed;
    right: 0%;
    top: 200px;
    z-index: -1;
}

.square {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0f1923;
    clip-path: circle(16% at bottom left);
}